
.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  cursor: pointer;
}


.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to top, rgb(250, 208, 196) 0%, rgb(255, 209, 255) 100%);
}


.relative{
  position: relative;
}